In [ ]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
#can't use keywords as variables.

In [ ]:
#python keywords are case sensitive and python is case sensitive language.

In [ ]:
#SQL is case insensitive language.

In [ ]:
subject = "python"
school = "Broadway"
print(f'I study {subject} in {school}')

I study python in Broadway

In [ ]:
#format string is used to format .

In [ ]:
#start with f before string and variables in curly bracket.

In [ ]:
name = "Miyosh"
age = "25"
print(f"MY name is {name}, I am {age} years old")

MY name is Miyosh, I am 25 years old

In [ ]:
#practicing f string.

In [ ]:
#Updating variable values.

In [ ]:
a=20
a=30
a=40
print(a)

40

In [ ]:
weight = 60
weight = 60+1  #=vanda right ko pahila execute huncha.
print(weight)

61

Assigning multiple valus to multiple variables

In [ ]:
x, y = 5, 9   #assign multiple values at once
print (x)
print (y)

5
9

In [ ]:
x, y = "coffee", "tea"   #assign multiple values at once
print (x)
print (y)

coffee
tea

Data type chcking

In [ ]:
a = 5
print (type(a))

<class 'int'>

In [ ]:
b = 8 + 0.8j
print(type(b))

<class 'complex'>

In [ ]:
name="Miyosh"
print(type(name))

<class 'str'>