In [ ]:
a = 2
b = 3
c = a+b
print(c)

5

In [ ]:
def addition():
    a = 2
    b = 3
    c = a+ b
    print(c)#function bhitra print or return garnuparcha

In [ ]:
addition()
addition()
addition()
addition()

5
5
5
5

In [ ]:
def addition():
    a = 2
    b = 3
    c = a+ b
    return c#saves value for future use

In [ ]:
total = addition()
total*5

25

In [ ]:
#real now hai function

In [ ]:
def addition(a,b):#a & b are arguement
    c=a+b
    return c

In [ ]:
addition(a = 2,b = 5)

7

In [ ]:
#sab assignment operator ko function banaune
#volume of sphere

In [ ]:
def sub(x,y):
    c = x - y
    return c
x= int (input ('enter a no.:'))
y= int(input('enter a no.:'))
diff = sub(x=x,y=y)
print(diff)

enter a no.:55
enter a no.:3
52

In [ ]:
def sub(x,y):
    c = x - y
    return c
a= int (input ('enter a no.:'))
b= int(input('enter a no.:'))
diff = sub(x=a,y=b)
print(diff)

enter a no.:5
enter a no.:3
2

In [ ]:
def test():
    global name#global use garesi you can use the variable outside the function
    name = 'ram'
    print(name)

In [ ]:
test()#global use garexa bhane function ma function call garesi tyo local variable global hunca

ram

In [ ]:
name

'ram'

In [ ]:
def greet(name,msg):
    print(f'Hi {name}, {msg}.')
greet(name='Miyosh',msg='Good Morning')

Hi Miyosh, Good Morning.

In [ ]:
def greet(name,msg='Good Morning'):#name is non default argument,msg is a default argument
    print(f'Hi {name}, {msg}.')

In [ ]:
greet(name='Miyosh')

Hi Miyosh, Good Morning.

In [ ]:
greet(name='MD samir',msg='Good afternoon')

Hi MD samir, Good afternoon.

In [ ]:
def greet(msg='Good Morning', name):#python ma non default argument name le default argument msg lai follow gardaina.
    print(f'Hi {name}, {msg}.')

SyntaxError: non-default argument follows default argument (<ipython-input-20-dfc5d247ba48>, line 1)

# Args vs Kwargs


1.   It makes function flexible using variable length argument

# *args
#no key value pairs
#tuple ma jancha

In [ ]:
def total(*args):
    print(args,type(args))

In [ ]:
total(2,3)

(2, 3) <class 'tuple'>

In [ ]:
total(6,7,9)

(6, 7, 9) <class 'tuple'>

In [ ]:
def total(*args):
    total_sum = 0
    for item in args:
        total_sum = total_sum + item
    return total_sum

In [ ]:
def Average(*args):
    Total = sum(args)
    Count = len(args)
    for item in args:
        Average = Total/Count
    return Average
Average(1,2,3)

2.0

In [ ]:
def Average(*args):
    Total = sum(args)
    Count = len(args)
    for item in args:
        Average = Total/Count
    return Average
Average(1,2,3)

2.0

In [ ]:
name = 'Miyosh'
def Average(*args):
    Total = sum(args)
    Count = len(args)
    for item in args:
        Average = Total/Count
    return Average
print('The Avg is' ,Average(2,3,4,5,67,9,888))

print(f'hello {name}')

The Avg is 139.71428571428572
hello Miyosh

In [ ]:
total(5,5)

10

# **kwargs
#key value pairs ko lagi
#dictionary ma jancha

In [ ]:
def about(**kwargs):
    print(kwargs,type(kwargs))

In [ ]:
about(3,1)

TypeError: about() takes 0 positional arguments but 2 were given

In [ ]:
about(name='miyosh',age=26)

{'name': 'miyosh', 'age': 26} <class 'dict'>

In [ ]:
#function can return multiple value

In [ ]:
def square_and_cube(a):
    sq=a**2
    cu = a**3
    return sq,cu

In [ ]:
square_and_cube(a=5)

(25, 125)

In [ ]:
sq,cu = square_and_cube(a=5)#tuple unpacking

In [ ]:
sq

25

In [ ]:
cu

125

In [ ]:
def Sunrise(**kwargs):
        print(kwargs)
Sunrise(Name='Kavya',Caste='Sharma',height = 100)

{'Name': 'Kavya', 'Caste': 'Sharma', 'height': 100}

In [ ]:
def total(*args):
    total = 0
    for item in args:
        total = total + item
    return total
total(1,2,3)

6

In [ ]:
def language (**kwargs):
    print(kwargs)
language(name = 'Miyosh', Caste = 'karki')

{'name': 'Miyosh', 'Caste': 'karki'}