In [ ]:
# creating empty class

In [ ]:
class Person:
    pass

In [ ]:
p1 = Person() #creating object from a class
print(type(p1))

<class '__main__.Person'>

In [ ]:
#class is a blueprint to create an object
#object is an instance or example of a class

#Class attribute vs Object attribute
#CLass Object

#Class attribute

In [ ]:
class Mammal:
    has_hair = True#class attribute is same for all objects

In [ ]:
cow = Mammal()
human = Mammal()

In [ ]:
cow.has_hair #attribute ho so no()

True

In [ ]:
human.has_hair

True

#object attribute

In [ ]:
class Mammal:
    def __init__(self,leg):#__init__(self,...)initializes object attribute  #dunder method  #magic mthod
        self.leg=leg

In [ ]:
class Mammal():
    def __init__(self,leg):
        self.leg = leg
human = Mammal(leg = 2)
human.leg

2

In [ ]:
class Hands():
    def __init__(self,hand):
        self.hand = hand
class Legs():
    def __init__(self,leg):
        self.leg = leg

In [ ]:
Kavya = Hands(hand = 2)
Kavya.hand

2

In [ ]:
Kavya = Legs(leg = 2)
Kavya.leg

2

In [ ]:
human = Mammal(leg = 2)

In [ ]:
human.leg

2

In [ ]:
cow = Mammal(leg = 4)

In [ ]:
cow.leg

4

In [ ]:
class Rectangle:
    def __init__(self,l,b):
        self.l = l
        self.b = b
    def area (self):
        return self.l * self.b
r1=Rectangle(l=2,b=5)

In [ ]:
r1.area()

10

In [ ]:
class Rectangle:
    def __init__(self,l,b):
        self.l = l
        self.b = b
    def area (self):
        return self.l*self.b

In [ ]:
r1 = Rectangle(l=5,b=10)
r1.area()

50

In [ ]:
#Function ends with ()
#attribute doesnt end with () ex:r1.l

In [ ]:
class Rectangle1:
    def __init__(self,l,b):
        self.l=l
        self.b=b
    def area(self):
        return self.l*self.b
    def perimeter(self):
        return 2*(self.l+self.b)

In [ ]:
class Square:
    def __init__(self,l,b):
        self.l = l
        self.b = b
    def area(self):
        return self.l * self.b
    def perimeter(self):
        return 2*(self.l * self.b)

s1 = Square(5,8)
print('the area of square is ',s1.area())
print('the perimeter of square is ', s1.perimeter())

the area of square is  40
the perimeter of square is  80

In [ ]:
class Apartment:
    has_security = True
    has_electricity = True

Westar = Apartment()
Westar.has_security

True

In [ ]:
r1 = Rectangle1(l=2,b=3)
r1.area()

6

In [ ]:
r1.perimeter()

10

In [ ]:
r2 = Rectangle1(l=9,b=3)
r2.area()

27

In [ ]:
r2.perimeter()

24

#Inheritance

#Single inheritance wrong eg

In [ ]:
class Parent:
    name='Ram'

class Child:
    childname='Shyam'

c1 = Child()
c1.name#it is error because child class object can't access parent attribute without inheritance

#correct

In [ ]:
class Parent:
    name='Ram'

class Child(Parent):
    childname = 'Shyam'

c1 = Child()
c1.name

'Ram'

#Super Inheritance Method

In [ ]:
class Parent:
    name='Ram'

class Child(Parent):
    childname = 'Shyam'
    def __init__(self):
        super().__init__()

c1= Child()
c1.name

'Ram'

#Multiple inheritance

In [ ]:
class Father:
    fname='Ram'

class Mother:
    mname='Sita'

class Child(Father,Mother):
    cname= 'Miyosh'
    def __init__(self): #esto chai nachalne thauma use huncha
        Father.__init__(self)
        Mother.__init__(self)

c=Child()
c.fname
c.mname

'Sita'

In [ ]:
class Father:
    fname = 'Ram'
class Child(Father):
    cname = 'Shyam'

a1 = Child()
a1.fname

'Ram'

In [ ]:
class Father:
    fname = 'Ram'
class Mother():
    mname = 'Sita'
class Child(Father,Mother):
    cname = 'Shyaam'

b1 = Child()
b1.mname

'Sita'

#Polymorphism

1.   Having many forms

In [ ]:
class Point:
    def __init__(self,p):
        self.p = p

p1 =Point(p=3)
p2 =Point(p=8)#chaldaina

In [ ]:
class Point:
    def __init__(self,p):
        self.p = p
    def __add__(self,other):#dunder is that jasko agadi ra pichadi __ cha eg:__init__;used for operator overloading
        return self.p + other.p

p1=Point(p=3)
p2=Point(p=8)
c1 = p1 + p2
c1

11

In [ ]:
class Point:
    def __init__(self,p):
        self.p = p
    def __add__(self,other):
        return self.p + other.p

p1 = Point(1)
p2 = Point(2)
p1+p2

3

In [ ]:
class Point:
    def __init__(self,p):
        self.p = p
    def __add__(self,other):
        return self.p + other.p


p1 = Point(1)
p2 = Point(2)
p1 + p2

3

#Encaptulations

1.   to protect
2.   limit access

In [ ]:
class Teacher:
    name='Miyosh'  #public
    _address='Patan'  #protected by underscore
    __age = 26  #private

obj = Teacher()
obj.name

obj._address#can ba called outside the class but is not a good practice

'Patan'

In [ ]:
obj.__age

AttributeError: 'Teacher' object has no attribute '__age'

#Abstraction means

  object doesnt know whats happening in class,,,,,
above are eg of abstraction

#NEW THINGS

In [ ]:
#https://meet.google.com/uzt-utgc-vgf



#1. Install Gitbash: https://git-scm.com/downloads
#2. Install VS code: https://code.visualstudio.com/download
#3. Create your Account in Github.com : https://github.com/

#Don't forget ID and Password

#SQL in Python

In [ ]:
import sqlite3

In [ ]:
db = sqlite3.connect('my database.db')#create and connect to db

In [ ]:
query = '''
CREATE table all_student(Roll_no int, name varchar(50), age int);
'''

In [ ]:
#Cursor executes sql query.
cur = db.cursor()

In [ ]:
cur.execute (query)

In [ ]:
#Insert

In [ ]:
query='''
Insert into all_student(roll_no,name,age)
values
(1,'Miyosh',26),
(2,'Binita',24)
'''

In [ ]:
cur.execute(query)

In [ ]:
#select and where statement

In [ ]:
cur.execute('Select * from all_student')

In [ ]:
cur.execute('Select * from all_student').fetchall()

[(1, 'Miyosh', 26), (2, 'Binita', 24)]

In [ ]:
cur.execute('select name,age from all_student').fetchall()

[('Miyosh', 26), ('Binita', 24)]

In [ ]:
cur.execute('select name,age from all_student where age <=25').fetchall()

[('Binita', 24)]

In [ ]:
query ='''
update all_student
set name ='Miyosh'
where roll_no =1
'''

In [ ]:
cur.execute(query)

In [ ]:
cur.execute('select * from all_student').fetchall()

[(1, 'Miyosh', 26), (2, 'Binita', 24)]

In [ ]:
query='''
Delete from all_student
where roll_no = 1
'''

In [ ]:
cur.execute(query)

In [ ]:
cur.execute('select * from all_student').fetchall()

[(2, 'Binita', 24)]