In [ ]:
name = "shiva"
print(type(name))

<class 'str'>

In [ ]:
s1 = "shiva"
s2 = 'shiva'
s1 == s2

True

In [ ]:
time = 24
assert time == 24

In [ ]:
time = 24               #prints error if assert is not true
assert time == 23

AssertionError:

# Single line string and multi line string

In [ ]:
msg = "Hello world"   #single line string
print(msg)

Hello world

In [ ]:
#multi line string
poem = '''
संसार रुपी सुख स्वर्गभित्र,
रमें रमाएँ लिइ भित्र चित्र ।
सारा भयो त्यो मरुभूमि तुल्य,
रातै परेझैं अब बुझ्छु बल्ल ।
रहेछ संसार निशा समान,
आएन ज्यूँदै रहँदा नि ज्ञान ।
आखीर श्रीकृष्ण रहेछ एक,
न भक्ति भो, ज्ञान, नभो विवेक ।
महामरुमा कणझैं म तातो,
जलेर मर्दो बिनु आश लाटो ।
सुकी रहेको तरुझैं छु खाली,
चिताग्नि तापी जल डाल्न फाली ।
संस्कार आफ्नो सब नै गुमाएँ,
म शून्यमा शून्य सरी बिलाएँ ।
जन्मेँ म यो स्वर्गविषे पलाएँ,
आखीर भै खाक त्यसै बिलाएँ
'''
print(poem)

संसार रुपी सुख स्वर्गभित्र,
रमें रमाएँ लिइ भित्र चित्र ।
सारा भयो त्यो मरुभूमि तुल्य,
रातै परेझैं अब बुझ्छु बल्ल ।
रहेछ संसार निशा समान,
आएन ज्यूँदै रहँदा नि ज्ञान ।
आखीर श्रीकृष्ण रहेछ एक,
न भक्ति भो, ज्ञान, नभो विवेक ।
महामरुमा कणझैं म तातो,
जलेर मर्दो बिनु आश लाटो ।
सुकी रहेको तरुझैं छु खाली,
चिताग्नि तापी जल डाल्न फाली ।
संस्कार आफ्नो सब नै गुमाएँ,
म शून्यमा शून्य सरी बिलाएँ ।
जन्मेँ म यो स्वर्गविषे पलाएँ,
आखीर भै खाक त्यसै बिलाएँ

In [ ]:
s = "hello world"

$$INDEXING  AND SLICING

In [ ]:
#Indexing Syntax:   Variable = [index]

In [ ]:
s = "hello world"
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])
print(s[6])
print(s[7])
print(s[8])
print(s[9])
print(s[10])
print(s[11])    # error because no index.

h
e
l
l
o

w
o
r
l
d

IndexError: string index out of range

In [ ]:
#Slicing syntax: Variable [start:stop:step]


#note: python doesn't print stop value.

In [ ]:
s = "Hello world"
s[0:4]

'Hell'

# For loop

In [ ]:
location = "tinkune"
for item in location:
    print(item)

t
i
n
k
u
n
e

In [ ]:
for item in "tinkune":
    print(item)

t
i
n
k
u
n
e

In [ ]:
country = input("enter your country's name = ")
for item in country:
    print(item)

enter your country's name = Nepal
N
e
p
a
l

# Membership Operator


*   in
*   not in

In [ ]:
country = "nepal"
print("p" in country)
print("z" in country)
print("z" not in country)

True
False
True

In [ ]:
country = "nepal"
print("n" in 'aeiou') #"n" aeiou ma pardainasoit's consonant
print("e" in 'aeiou') #vowel

False
True

In [ ]:
country = "nepal"
for item in country:
    print(item)

n
e
p
a
l

##Syntax of for loop:
```python
for item in iterable:
    #for loop logic
    print(item)
```

In [ ]:
#WAP to check vowel and consonants of a word

In [ ]:
country = "nepal"
count1=0
count2=0
for char in country:
    if char in 'aeiou':
        count1=count1+1
        print(f"{char} is vowel")
    else:
        count2=count2+1
        print(f"{char} is consonant")
print(f'total no. of vowels = {count1}')
print(f'total no. of consonents = {count2}')

n is consonant
e is vowel
p is consonant
a is vowel
l is consonant
total no. of vowels = 2
total no. of consonents = 3

#wap to count cons and vowels

In [ ]:
country = "nepal"
con = 0
vow = 0
for char in country:
    if char in 'aeiou':
        vow = vow + 1
    else:
        con = con + 1
print(f"Total no. of vowel in {country} word is {vow}")
print(f"Total no. of consonant in {country} word is {con}")

Total no. of vowel in nepal word is 2
Total no. of consonant in nepal word is 3

# continue

In [ ]:
country = "united states"
con = 0
vow = 0
for char in country:
    if char in 'aeiou':
        vow = vow + 1
    elif char == " ":
        print("space bar is there")
        continue    #continue le afu bhanda tala ko code chaldaina.#loop ek iteration skip garcha
        print("yo muni print line hudaina")
    else:
        con = con + 1
print(f"Total no. of vowel in {country} word is {vow}")
print(f"Total no. of consonant in {country} word is {con}")

space bar is there
Total no. of vowel in united states word is 5
Total no. of consonant in united states word is 7

In [ ]:
for index in range (0,5): #[0,1,2,3,4]
    print(index)

0
1
2
3
4

In [ ]:
for index in range (0,5):
    if index == 2:
        continue #continue le garda 2 skip garcha ani feri loop garcha
    print (index)

0
1
3
4

# break

In [ ]:
for index in range(0,5):
    if index == 4:
        break     # break le condition match bhaesi loop stop garcha
    print(index)

0
1
2
3

# string method manipulation

In [ ]:
text = "pi"
text = text.upper()
print(text)

PI

In [ ]:
text = "HELLO"
text = text.lower()
print(text)

hello

In [ ]:
news = "sheikh hasina is a noob"
news = news.title()  #title format ma convrt garcha
print(news)

Sheikh Hasina Is A Noob

In [ ]:
greet = "Happy new Year"
greet = greet.replace("Happy", "Fantastic")# replace
print(greet)

Fantastic new Year

In [ ]:
msg = "           how you doin?      "
print(msg)

           how you doin?

In [ ]:
msg = "           how you doin?      "
msg = msg.strip()  # removes extra space
print(msg)

how you doin?

In [ ]:
msg = "           how you doin?      "
msg = msg.lstrip()  # removes extra left space
print(msg)

how you doin?

In [ ]:
msg = "           how you doin?      "
msg = msg.rstrip()  # removes extra rigght space
print(msg)

           how you doin?

In [ ]:
string = "I like Football"
words = string.split(" ")#seperate words like text to columns in excel
print(words)

['I', 'like', 'Football']

In [ ]:
string = "red-green-blue"
words = string.split("-")
print(words)

['red', 'green', 'blue']

In [ ]:
words = "-".join(words)  # join words with sth.
print(words)

red-green-blue

In [ ]:
#string is immuatable data type.

In [ ]:
#replace $ with S
name = "Miyo$h"
name = name.replace("$", "s")
print(name)

Miyosh

In [ ]:
name = "miyo$h"
print(id(name))

133861206483312

In [ ]:
name[1]= 's'#we can do this only for mutable data types such as numbers.

TypeError: 'str' object does not support item assignment

In [ ]:
name = name.replace('$', 's')
print(id(name), name)

133860839838192 miyosh