In [ ]:
string = "i like football"
words = string.split()
print(words)

['i', 'like', 'football']

In [ ]:
type(words)

list

# List


*   collection of items under one variable name
*   allows duplicate value


*   List supports multiple data types
*   there is order and index.

In [ ]:
#creating an empty list--- 1st method
l1 = list()
print(l1)
type(l1)

[]

list

In [ ]:
#creating empty list-----2nd method
l1 = []
print(l1)
type(l1)

[]

list

# Example of List

In [ ]:
l1 = [True, 40, 'Hello', 40.3, True]        #there isorder,duplicates
print(l1)

[True, 40, 'Hello', 40.3, True]

In [ ]:
gift = ['Laptop', 'Visa', 'Money', 'Nobel', 'Visa','Laptop']    #there is index.
print(gift)

['Laptop', 'Visa', 'Money', 'Nobel', 'Visa', 'Laptop']

In [ ]:
gift[:3]

['Laptop', 'Visa', 'Money']

In [ ]:
gift[2:5]

['Money', 'Nobel', 'Visa']

# Negative Indexing

*   starts from -1
*

In [ ]:
gift

['Laptop', 'Visa', 'Money', 'Nobel', 'Visa', 'Laptop']

In [ ]:
gift[-1]

'Laptop'

In [ ]:
gift[-3]

'Nobel'

In [ ]:
gift[-3:]   #selects last 3 items

['Nobel', 'Visa', 'Laptop']

# Loop

In [ ]:
num = [4, 5, 6]
total = 0
for item in num:
    print(item)
    total = total + item
print("the sum is",total)

4
5
6
the sum is 15

In [ ]:
num = [1,2,3]
total = 0
for item in num:
    print(item)
    total = total + item
print(f"the sum of no. is = {total}")

1
2
3
the sum of no. is = 6

In [ ]:
num = [1, 2, 3, 4, 5]
total = 0
for item in num:
    print(item)
    total = total + item
print("total = ", total)

1
2
3
4
5
total =  15

In [ ]:
no = [11, 22, 222, 2]
total = 0
for item in no:
    print(item)
    total = total + item
print(f'toal sum = ',total)

11
22
222
2
toal sum =  257

In [ ]:
num = [9.6,1.77,2,3,4]
minus = 0                                      #wrong chha
for item in num:
    print(item)
    minus= minus - item
print('minus = ',minus)

9.6
1.77
2
3
4
minus =  -20.369999999999997

In [ ]:
#wap to find mean



---

# While loop
```python
while True:
    #block of while code
```

```python
while condition:
    # block of while code
```

In [ ]:
num = [4, 5, 6] #len(num)=3
total = 0
index = 0
while index < len(num):
    item = num[index]
    total = total + item
    index= index +1
print(total)

15

In [ ]:
lista = [1, 2, 3, 4]
total = 0
index = 0
while index < len(lista):
    item = lista[index]
    total = total + item
    index = index + 1
print(f"the sum of no. is {total}")

the sum of no. is 10

# Membership operator

In [ ]:
fruits = ['apple', 'banana', 'mango']
'banana' in fruits

True

In [ ]:
'papaya' in fruits

False

In [ ]:
'papaya' not in fruits

True

In [ ]:
num = [4,5,6]
total = 0           #2nd method for forloop.
for index in range(len(num)):
    item = num[index]
    total = total +item
print(total)

15

# List is a mutable datatye


*   same memeoy location ma update garna milcga bhane mutable
*   mutable data types can be indexed and sliced

In [ ]:
fruits = ['apple','banana','mango','orange','pear']
fruits[1]='papaya'
fruits[2:4]=['watermelon','kiwi']
print(fruits)

['apple', 'papaya', 'watermelon', 'kiwi', 'pear']

#list methods

In [ ]:
fruits = ['apple','banana','mango','orange','pear','banana']
fruits.remove('banana') #removes first banana only
fruits

['apple', 'mango', 'orange', 'pear', 'banana']

In [ ]:
line = ['Kshitiz','Binita','MD','Anurodh']
line.insert(1,'Rachana')
line

['Kshitiz', 'Rachana', 'Binita', 'MD', 'Anurodh']

# .append()

*   adds behind in list
*

In [ ]:
line=[]
line

[]

In [ ]:
line.append('Miyosh')
line

['Miyosh']

In [ ]:
line.append('Ram')
line

['Miyosh', 'Ram']

In [ ]:
line.append('sita')
line

['Miyosh', 'Ram', 'sita']

In [ ]:
print(line)

['Miyosh', 'Ram', 'sita']

# .pop()

*  removes the last item in list if empty fruits.pop()


*

In [ ]:
fruits = ['apple','banana','mango','orange','pear']
fruits.pop()

'pear'

In [ ]:
fruits

['apple', 'banana', 'mango', 'orange']

In [ ]:
fruits.pop()

'orange'

In [ ]:
fruits

['apple', 'banana', 'mango']

In [ ]:
fruits.pop()

'mango'

In [ ]:
fruits

['apple', 'banana']

In [ ]:
fruits = ['apple','banana','mango','orange','pear']
fruits.pop(3)#index(3) is popped
fruits

['apple', 'banana', 'mango', 'pear']

# [Using python list as stack and Queue](DSA)[link text] (https://docs.python.org/3/tutorial/datastructures.html#using-lists-as-st)

#.extend()

In [ ]:
a=[4,5]
b=[6,5]
a+b

[4, 5, 6, 5]

In [ ]:
a=[4,5]
b=[6,5]
a.extend(b)

In [ ]:
a

[4, 5, 6, 5]

In [ ]:
b

[6, 5]

In [ ]:
a=[4,5]
b=[6,5]
b.extend(a)

In [ ]:
b

[6, 5, 4, 5]

In [ ]:
a

[4, 5]

# sort

In [ ]:
data=[-6,2,7,0,-3,5]
data.sort()#ascending order
data

[-6, -3, 0, 2, 5, 7]

In [ ]:
data=[-6,2,7,0,-3,5]
data.sort(reverse = True)#descending order
data

[7, 5, 2, 0, -3, -6]

In [ ]:
data=[-6,2,7,0,-3,5]
sorted(data)#sort garcha without updating original data variable

[-6, -3, 0, 2, 5, 7]

In [ ]:
data

[-6, 2, 7, 0, -3, 5]

In [ ]:
#abdul bari DSA youtube

In [ ]:
#wap to square each item of a list

In [ ]:
num = [5,6,2,1,7]
sq=[]
for item in num:
    print(sq)
    sq.append(item**2)
print(sq)

[]
[25]
[25, 36]
[25, 36, 4]
[25, 36, 4, 1]
[25, 36, 4, 1, 49]

In [ ]:
num = [5,6,2,1,7]
cube=[]
for item in num:
    print(cube)
    cube.append(item**3)
    print(cube)

[]
[125]
[125]
[125, 216]
[125, 216]
[125, 216, 8]
[125, 216, 8]
[125, 216, 8, 1]
[125, 216, 8, 1]
[125, 216, 8, 1, 343]

In [ ]:
#wap to check odd/even sq odd list even list

In [ ]:
lista = [1,2,3,4,5,6]
odd=[]
even=[]
for item in lista:
    if item%2 == 0:
        even.append(item)
    else:
        odd.append(item**2)
print(f'the even no. are {even}')
print(f'the squared odd no. are {odd}')

the even no. are [2, 4, 6]
the squared odd no. are [1, 9, 25]

#List comprehension

*   shorter faster and elegant

```python
[expression for item in iterable]
[expression for item in iterable if True]
[expression if True else expression for item in iterable]
```
usually expression is 'item' hai

# j j ma loop ma launa milcha they are known as iterables

In [ ]:
#wap square

In [ ]:
num = [5,6,2,1,7]

In [ ]:
sq = [item ** 2 for item in num]#sq
print(sq)

[25, 36, 4, 1, 49]

In [ ]:
cube = [item ** 3 for item in num]#cube list comprehension
print(cube)

[125, 216, 8, 1, 343]

In [ ]:
#list compehension with if only

In [ ]:
import random       #pseudo random int generator
random.randint (a=0, b=100)#undeterminisitic algorythm

3

In [ ]:
import random
random.seed(10)#gives the seed value which needs to be >=0
random.randint (a=0, b=100)#deterministic algorythm

73

In [ ]:
import random
random.seed(0)
nums =[random.randint (a=0, b=100) for i in range(10)]#a stands for lower value, b stands for higher value
print(nums)

[49, 97, 53, 5, 33, 65, 62, 51, 100, 38]

In [ ]:
even = [item for item in nums if item%2 == 0]#even no.
print (even)

[62, 100, 38]

In [ ]:
odd = [item for item in nums if item%2 != 0]
print(odd)#odd no.

[49, 97, 53, 5, 33, 65, 51]

#List comprehension with if & else

#relu activation function

![relu.webp]()

max(0,x)

In [ ]:
import random
random.seed(0)
nums =[random.randint (a=-10, b=10) for i in range(10)]
nums

[2, 3, -9, -2, 6, 5, 2, -1, 5, 1]

In [ ]:
import random
random.seed(0)
nums =[random.randint (a=-10, b=10) for i in range(10)]
relu = [item if item >=0 else 0 for item in nums]
print(relu)

[2, 3, 0, 0, 6, 5, 2, 0, 5, 1]

In [ ]:
#wap replace everything except banana for orange

In [ ]:
fruits = ['apple', 'banana','cherry','kiwi','mango']
newlist = [item if item== 'banana' else 'orange' for item in fruits]
print(newlist)

['orange', 'banana', 'orange', 'orange', 'orange']

In [ ]:
fruitsa = ['apple','apple','apple','banana','banana']
listb = [i if i == 'banana' else 'orange' for i in fruitsa]
print(listb)

['orange', 'orange', 'orange', 'banana', 'banana']

In [ ]:
fruitsc = ['apple','apple','apple','banana','banana']
listc = [item if item == 'banana' else 'orange' for item in fruitsc]
print(listc)

['orange', 'orange', 'orange', 'banana', 'banana']

In [ ]:
fruitsa = ['apple','apple','apple','banana','banana']
newlista = []
for item in fruitsa:
    if item == 'banana':
        print(item)
        newlista.append(item)
    elif item != 'banana':
        print('orange')
        newlista.append('orange')
print(newlista)

orange
orange
orange
banana
banana
['orange', 'orange', 'orange', 'banana', 'banana']

In [ ]:
fruitsa = ['apple','apple','apple','banana','banana']
listing =[]
for i in fruitsa:
    if i == 'banana':
        listing.append(item)
    else:
        listing.append('orange')
print(listing)

['orange', 'orange', 'orange', 'banana', 'banana']

In [ ]:
fruits = ['apple', 'banana','cherry','kiwi','mango']
fruits = [fruit.upper() for fruit in fruits]
print(fruits)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [ ]:
vegetables = ['carrot','brinjal','cauli','raddish']
vegetables = [item.upper() for item in vegetables]
print(vegetables)

['CARROT', 'BRINJAL', 'CAULI', 'RADDISH']

In [ ]:
fruitsa1 = ['apple','apple','apple','banana','banana']
fruitsa1 = [item.upper() for item in fruitsa1]
print(fruitsa1)

['APPLE', 'APPLE', 'APPLE', 'BANANA', 'BANANA']

In [ ]:
#leetcode #hackerrank