TAKING USER INPUT

In [ ]:
name = input()

miyosh

In [ ]:
print (name)

miyosh

In [ ]:
name = input("Enter your name ; ")
location = input("Enter your location ;")
print(f"My name is {name} and I live in {location} . ")

Enter your name ; miyosh
Enter your location ;balkumari
My name is miyosh and I live in balkumari .

#TYPE CASTING

In [ ]:
x = int(input("enter 1st no.; "))       #typecasting from string to integer
y = int(input("enter 2nd no..;"))
print("The sum is ",x+y)

enter 1st no.; 1
enter 2nd no..;3
The sum is  4

In [ ]:
# python ma explicit data  type casting huncha.

In [ ]:
x= float(input("enter 1st no.;"))
y= float(input("enter 2nd no.;"))
total = x+y
print(f"The sum of float is {total}")

enter 1st no.;2.444
enter 2nd no.;3.989
The sum of float is 6.433

In [ ]:
p = 0.55
print (isinstance (p,int))  #isinstance to check whether the variable is of a certin data type.

False

In [ ]:
#True and False are boolean data types.

In [ ]:
True + True

2

In [ ]:
False + False

0

In [ ]:
True + False

1